.applications {
  width: 20%;
  padding: 20px;
  margin-left: 10px;
  background-color: rgba(lightgray, 80%);

  .applications-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    button {
      border: none;
      cursor: pointer;
      background: transparent;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
