.contacts {
  width: 20%;
  padding: 20px;
  background: linear-gradient(rgba(136, 248, 132, 0.3), rgba(144, 40, 20, 0.3));

  // background-color: rgba(136, 248, 132, 0.3);

  .contacts-list {
    .contact {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .contact-picker {
        font-size: 30px;
        margin-right: 10px;
      }
      .contact-status {
        margin-right: 20px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: green;
      }
      .contact-name {
      }
    }
  }
}
